@charset "UTF-8";

#wrap{width:100%; height:100%; overflow: hidden; position: relative;}

	.index_header{width:100%; height:45px; line-height: 45px; padding:0 100px; box-sizing:border-box; margin:50px auto;}
	.index_header ul{overflow: hidden;}
	.index_header ul li{float: left; font-size:14px;}
	.index_header ul li:last-child{float:right;}
	.index_header ul li img{display: block;}
	.index_header ul li a{display: inline-block; font-size:14px; color:#27b6ba; margin-left:5px;}
	.index_header ul li a:hover{color:#07d}
	
	
	.index_main{max-width:1000px; box-sizing:border-box; width:100%; margin:100px auto;}
	.index_main ul{overflow: hidden;}
	.index_main ul li{float:left; width:50%; text-align:center;}
	.index_main ul li:last-child{padding:100px 50px; box-sizing:border-box;}
	.index_main ul li img{width:500px; height:500px;}
	.index_main p{text-align:center; font-size:24px; font-weight: bold; color:#666;}
	.index_main input{display: block; width:100%; height:42px; padding:0 10px; box-sizing:border-box; border:1px solid #e1e1e1;}
	.index_main input:hover{border:1px solid #333;}
	.index_main input:active,.index_main input:focus{border:1px solid #27b6ba !important;}
	.index_main button{display: block; width:100%; height:42px; text-align:center; box-sizing:border-box; background:#27b6ba; border:1px solid #27b6ba; color:#fff; font-size:14px; cursor:pointer;}
	.index_main button:hover{background:#07d}
	.index_main a{display: block;  text-align:center; font-size:14px; color:#27b6ba;}
	.index_main a:hover{font-size:14px; color:#07d}
	
	
	#header{background:#1f5c87; width:100%; height:46px; position:fixed; top:0; left:0; box-shadow:0 1px 3px 0 rgba(0,0,0,.4); overflow: hidden;}
	#header ul{overflow: hidden; float:right;}
	#header ul li{float:left;}
	#header ul li:first-child{width:200px; height:46px; line-height:46px; position: relative; border-left:1px solid rgba(255,255,255,.4);}
	#header ul li:first-child a{padding:0 10px; box-sizing:border-box;}
	#header ul li a{color:#fff; font-size:14px; font-weight: bold;}
	#header ul li i{color: #fff; position: absolute; top: 13px; right: 10px; z-index: -9; font-size: 20px;}
	#header ul li a img{width:46px; height:46px;}
	
	
	#nav{background:#1f5c87; width:46px; height:100%; position:fixed; top:0; left:0; box-shadow:1px 0 3px 0 rgba(0,0,0,.4); z-index:999}
	#nav ul{margin-top:56px;}
	#nav ul li{margin-bottom:20px; text-align:center; position: relative;}
	#nav ul li a{}
	#nav ul li a i{font-size:20px; color:#fff; opacity:0.7;}
	#nav ul li a:hover i{opacity:1;}
	#nav ul li span{position: absolute; top: 20px; right: -10px; transform: translateX(100%); background: #154566; color: #fff;  padding: 3px 5px; opacity:0;}
	#nav ul li:hover span{top:-2px; opacity:1;}
	#nav ul li span:before{content: ""; width: 6px; height: 6px; display: block; position: absolute; top: 5px; left: -11px; border: 6px solid transparent; border-right: 6px solid #154566; box-sizing: border-box;}
	
	
	.taskbody{background: #edf0f5}	
	.main_wrap{width:100%; height:100%; overflow: hidden; padding-top:46px; padding-left:46px; box-sizing:border-box;}
		.search_wrap{width:100%; height:50px; line-height:50px; background: #fff; overflow: hidden; padding:0 20px; box-sizing:border-box;}
		.search_wrap .left_search{float:left;}
		.search_wrap .left_search ul{overflow: hidden;}
		.search_wrap .left_search ul li{float:left; position: relative;}
		.search_wrap .left_search ul li > i{position: absolute; top:17px; left:10px; font-size:14px;}
		.search_wrap .left_search ul li p{border: 1px solid #e1e1e1; display: inline; height: 35px; display: inline-block; line-height: 35px; padding: 0 10px; cursor: pointer;}
		.search_wrap .left_search ul li p:hover{background: #f5f6f7;}
		.search_wrap .left_search ul li p i{margin-left:10px; margin-top:-3px; vertical-align: middle; font-size:17px;}
		.search_wrap .left_search ul li input{height: 35px; border: 1px solid #e1e1e1; margin-left: 5px; padding: 0 10px 0 20px; box-sizing: border-box;}
		
		.search_wrap .right_search{float:right;}
		.search_wrap .right_search ul{overflow: hidden;}
		.search_wrap .right_search ul li{float:left; position: relative; margin-left:10px;}
		.search_wrap .right_search ul li p{border: 1px solid #e1e1e1; display: inline; height: 35px; display: inline-block; line-height: 35px; padding: 0 10px; cursor: pointer;}
		.search_wrap .right_search ul li p:hover{background: #f5f6f7;}
		.search_wrap .right_search ul li p i{margin-left:10px; margin-top:-3px; vertical-align: middle; font-size:17px;}
		
		.search_wrap .right_search ul li p.mmm{background: #27b6ba; color:#fff;}
		.search_wrap .right_search ul li p.mmm:hover{background: #27b6ba;}
		.search_wrap .right_search ul li p i.mmmm{margin-right:10px; margin-left:0; color:#fff;}
		
		.search_wrap .right_search ul li > i{font-size: 14px; height: 35px; width: 35px; border: 1px solid #e1e1e1;vertical-align: middle; text-align: center; line-height: 35px; margin-top: -3px; cursor:pointer;}
		.search_wrap .right_search ul li > i:hover{background: #f5f6f7;}
		.search_wrap .right_search ul li > i:hover{background: #f5f6f7;}
	
		.content_wrap{max-width:1180px; width:100%; height:100%; box-sizing:border-box; margin:50px auto;}
			.content_wrap .project_title{width:100%; height:57px; line-height: 57px; color:#666; font-size:14px; cursor:pointer; padding:0 10px; box-sizing:border-box;}
			.content_wrap .project_title i{color:#666; font-size:20px; margin-right:10px;}
			.content_wrap .project_title:hover{background: #e1e1e1;}
			
			.content_wrap .recent_project{}
			.content_wrap .recent_project ul{overflow: hidden;}
			.content_wrap .recent_project ul li{float: left; width:19%; margin-top:5px; margin-bottom:5px; margin-right:1.25%; height: 40px;transition-timing-function: ease-in-out; transition-duration: .2s; transition-property: transform,box-shadow; transform:translateY(2px); background: #fff; padding:0 10px; box-sizing:border-box; line-height: 40px; border-radius:5px;}
			.content_wrap .recent_project ul li:hover{     box-shadow: 0 5px 6px 0 rgba(0,0,0,.15);   transition-duration: .2s;    transform: translateY(-2px);}			
			.content_wrap .recent_project ul li:last-child{margin-right:0}
			.content_wrap .recent_project ul li a{font-size:14px; color:#666;}
			.content_wrap .recent_project ul li a i{margin-right:10px; font-size:16px; color:#666;}
			
			.content_wrap .my_project{}
			.content_wrap .my_project > ul{overflow: hidden;}
			.content_wrap .my_project > ul > li{float: left; width:19%; margin-top:5px; margin-bottom:5px; margin-right:1.25%; height: 170px;transition-timing-function: ease-in-out; transition-duration: .2s; transition-property: transform,box-shadow; transform:translateY(2px); background: #fff; padding:10px; box-sizing:border-box; border-radius:5px; position: relative; cursor:pointer}
			.content_wrap .my_project > ul > li:hover{     box-shadow: 0 5px 6px 0 rgba(0,0,0,.15);   transition-duration: .2s;    transform: translateY(-2px);}			
			.content_wrap .my_project > ul > li:nth-child(5n){margin-right:0}
			.content_wrap .my_project > ul > li a{font-size:14px; color:#666;}
			.content_wrap .my_project > ul > li a i{margin-right:10px; font-size:16px; color:#666;}
			.content_wrap .my_project > ul > li a .status_wrap{position: absolute; bottom:0; left:0; padding:0 10px; width:100%; box-sizing:border-box;}
			.content_wrap .my_project > ul > li a .status_wrap .status_title{width:80px; height:22px; line-height:22px; text-align:center; border:1px dashed #8d919a;}
			.content_wrap .my_project > ul > li a .status_wrap .status_text{ margin:5px 0;}
			.content_wrap .my_project > ul > li a .status_wrap .status_text ul{overflow: hidden;}
			.content_wrap .my_project > ul > li a .status_wrap .status_text ul li{float:left; color:#8d919a;}
			.content_wrap .my_project > ul > li a .status_wrap .status_text ul li:last-child{float:right;}
			.content_wrap .my_project > ul > li a .status_wrap .status_bar{height:20px; margin:5px 0;}
			.content_wrap .my_project > ul > li a .status_wrap .status_bar ul{position: relative;}
			.content_wrap .my_project > ul > li a .status_wrap .status_bar ul li{width:100%; height:5px; position: absolute; top:0; left:0; background: #8d919a; border-radius:5px;}
			.content_wrap .my_project > ul > li a .status_wrap .status_bar ul li.sucess{width:50%;background: #27b6ba}
			.content_wrap .my_project > ul > li.newproject{text-align:cetner; position: relative;}
			.content_wrap .my_project > ul > li.newproject p{font-size:20px; color:#27b6ba; position: absolute; top:50%; left:50%; transform:translateX(-50%) translateY(-50%); text-align: center;}
			.content_wrap .my_project > ul > li.newproject p i{font-size:30px; color:#27b6ba}
	
			.content_wrap .my_project > ul > li.newproject:hover{background: #27b6ba}
			.content_wrap .my_project > ul > li.newproject:hover p{color:#fff;}
			.content_wrap .my_project > ul > li.newproject:hover p i{color:#fff;}
	
	
	
	
	
	